<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>결제 내역 page</h1>
        <div>
            <%=data[0].my_id%>의 내역
        </div>
        <hr>
    <%for(let i=0; i<data.length; i++) {%> 
        <div id="1"><%=data[i].restaurant_name%> </div>
        <div id="4"><%=data[i].menu%></div>
        <div id="5"><%=data[i].price%></div>
        상세보기 |<a href="/nav/review/<%=data[i].restaurant_name%>">리뷰쓰기</a> 
<hr>
        <%}%>
</body>
</html>